@font-face {
    font-family: 'Greybeard';
    src: url('fonts/Greybeard-22px.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #333f4a;
    margin: 0;
    font-family: 'Greybeard';
}

.navbar {
    font-family: 'Greybeard';
    background-color: #ffffff;
    padding: 10px 0;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-links .left-links,
.nav-links .right-links {
    display: flex;
}

.nav-links li {
    list-style: none;
    margin: 0 10px;
}

.nav-links a {
    text-decoration: none;
    color: #333f4a;
    font-size: 16px;
    font-weight: bold;
}

.nav-links .logo {
    display: flex;
    justify-content: center;
    margin: 0 20px; /* Adjust this margin to control the space around the logo */
}

.nav-links .logo a {
    font-size: 20px;
    font-weight: bold;
    color: #333f4a;
    text-decoration: none;
}
